<section class="main-section">
    <h1>Your tasks</h1>
    <div class="bold-holder">
        <div class="tasks-holder" *ngFor="let task of tasks">
            <div class="holder" (click)="viewTaskDetails(task.id)">
                <div class="name">
                    <span>{{task.taskName}}</span>
                </div>
                <div class="description">
                    <span> $ {{task.description}}</span>
                </div>
                <!-- <div class="edit-dlt">
                    <button type="button"><a routerLink="/edit-task">Edit</a></button>
                    <button type="button" (click)="searchId()">Delete</button>
                </div> -->
            </div>
        </div>
    </div>
    
</section>
