@import "../../../styles.scss";

section.main-section{
    padding-top: 10%;
    height: 100%;
    h1{
        text-align: center;
    }
    div.bold-holder{
        width: 80%;
        margin-left: 10%; 
        display: grid;
        grid-template-columns: auto auto auto;
        .tasks-holder{
           width: 80%;
           margin-left: 10%;
           .holder{
                cursor: pointer;
                background-color: rgba(11, 11, 64, 0.714);
                width: 90%;
                margin-top: 40px;
                padding: 40px;
                margin-bottom: 40px;
                border-radius: 6px;
                &:hover{
                    transform: scale(2);
                    transition: 1.1s;
                }
                .name{
                    background-color: white;
                    border-radius: 4px;
                    padding: 4px;
                    span{
                        @include text-style(18px,400px,black);
                        text-decoration: none;
                    }
                }
                .description{
                    background-color: rgb(240, 163, 163);
                    border-radius: 4px;
                    padding: 4px;
                    margin-top: 30px;
                    span{
                        @include text-style(18px,400px,black);
                        text-decoration: none;
                    }
                }
           }
        }
    }
  
}

@media(max-width:750px){
    
section.main-section{
    padding-top: 10%;
    height: 100%;
    h1{
        text-align: center;
    }
    div.bold-holder{
        width: 80%;
        margin-left: 10%; 
        display: grid; 
        grid-template-columns: auto;
        .tasks-holder{
           width: 80%;
           margin-left: 10%;
           .holder{
                cursor: pointer;
                background-color: rgba(11, 11, 64, 0.714);
                width: 90%;
                margin-top: 40px;
                padding: 40px;
                margin-bottom: 40px;
                border-radius: 6px;
                &:hover{
                    transform: scale(0);
                    transition: 1s;
                }
                .name{
                    background-color: white;
                    border-radius: 4px;
                    padding: 4px;
                    span{
                        @include text-style(18px,400px,black);
                        text-decoration: none;
                    }
                }
                .description{
                    background-color: rgb(240, 163, 163);
                    border-radius: 4px;
                    padding: 4px;
                    margin-top: 30px;
                    span{
                        @include text-style(18px,400px,black);
                        text-decoration: none;
                    }
                }
           }
        }
    }
  
}
}