@import "../../styles.scss";
section.main-section{
    height: 100vh;
    @include container (80%,10%);
    background-color: black;
    h1{
        padding-top: 15%;
        margin-left: 35%;
        @include text-style(40px,500px, white);
    }
    p{
        @include text-style(20px,400px, white);
        margin-left: 25%;
        padding-top: 20px;


    }
}