<section class="container">
    <h1> Welcome User </h1>
    <div class="router-outlet-display">
        <router-outlet></router-outlet>
    </div>
    <div class="task-buttons">
        <div class="add-task">
            <button type="button"><a routerLink = "/add-task">Add Task</a></button>
        </div>
        <div class="add-task">
            <button type="button"><a routerLink="/edit-task">Edit Task</a></button>
        </div>
        <div class="add-task">
            <button type="button"><a routerLink="/view-task">view Task</a></button>
        </div>
    </div>
</section>

