@import "../../../styles.scss";

section.container {
    @include container(90%, 5%);

    // background-color: teal;

    h1 {
        @include text-style(20px, 400px, white);
    }

    div.task-buttons {
        @include display-element-flex(center, space-around);

        button[type=button] {
            outline: none;
            border: none;
            padding: 5px;
            background-color: black;
            a{
                @include text-style(20px,400px,white);
                text-decoration: none;
            }
        }
    }
}