<section class="mobile desktop">
  <table>
    <caption>Task Details</caption>
    <thead>
      <tr>
        <th>Id</th>
        <th>Task Name</th>
        <th>Description</th>
        <th>start Date</th>
        <th>Due date</th>
        <th>Difficulty</th>
        <th>Level</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Id">{{task.id}}</td>
        <td data-label="Task Name">{{task.taskName}}</td>
        <td data-label="Description">{{task.description}}</td>
        <td data-label="start Date">{{task.startDate}}</td>
        <td data-label="Due Date">{{task.dueDate}}</td>
        <td data-label="Difficulty">{{task.difficulty}}</td>
        <td data-label="Level">{{task.level}}</td>
        <td data-label="State">{{task.status}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <p class="edit">
      <button class="edit-button" (click)="getTaskId(task.id)" type="button">Edit</button>
    </p>
    <p class="edit">
      <button class="delete-button" (click)="deleteTask()" type="button">Delete</button>
    </p>
  </div>
</section>