@import "../../../styles.scss";
section.add-task-section{
    background: white;
    @include container(90%,5%);
    height: 100%;
    form{
        padding-bottom: 20px;
        margin-top: 20px;
        background-color: rgba(10, 10, 84, 0.858);
        border-radius: 9px;
        @include container(60%,25%);
        padding-top: 60px;
        h1{
            text-align: center;
            @include text-style(38px,400px,white);
        }
      
        div.input-holder{
            padding-top: 20px;
            display: block;
            @include container(80%,10%);
            input{
                outline: none;
                border: 1px solid rgba(255, 0, 0, 0);
                border-radius: 3px;
                @include text-style(18px,400px,white);
                background-color: black;
                padding: 6px;
                @include container(80%,10%);
                &::placeholder{
                    padding-left: 10px;
                }
            }
            textarea{
                resize: none;
                outline: none;
                border: none;
                border-radius: 3px;
                @include text-style(18px,400px,white);
                background-color: black;
                @include container(80%,10%);
                &::placeholder{
                    padding-left: 10px;
                }

            }
        }
        div.button{
            margin-top: 30px;
            margin-left: 45%;
            button{
                background-color: rgba(10, 10, 84, 0.858);
                outline: none;
                border: 1px solid white;
                border-radius: 5px;
                @include text-style(18px,400px,white);
                padding: 10px;

            }

        }
        div.input-selects{
            @include display-element-flex(center,space-around);
            @include container(60%,20%);
            div.input-holder{
                margin: 30px 0px 0px 0px;
                display: block;
                select{
                    display: block;
                    outline: none;
                    option{
                        margin-top: 10px;
                        @include text-style(18px,400px,black);
                    }
                }
            }
    
        }
    }
}

@media (max-width:750px){
    *{
        display: block;
    }
    section{
       width: 100%;

        form{
            @include container(100%,0%);

        }
    }
}