
 @import "../../styles.scss";

*{
    margin: auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}
p{
    color:Black;
    font-size: 30px;
}
section.header-section{
    @include container(90%,5%);
    background-color: black;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10%;
        div.logo-division{
            p{
                background-color: white;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                span{
                    color: Red;
                    padding: 190px 0px 0px 7px;
                }
            }
        }
        div.nav-pannel{
            width: 80%;
            ul{
                // display: flex;
                // list-style-type: none;
                li{
                    color: white;
                    font-size: 22px;
                    display: inline;
                    margin-left: 25px;
                    cursor: pointer;
                  a{
                    text-decoration: none;
                    color: white;
                  }
                }
            }
        }
    }
    button{
        background-color: none;
        outline: none;
        padding: 10px;
        margin-left: 3%;
    }
}
