<section class="hero">
    <form action="">
        <h1 class="heading">Register</h1>
        <div class="user-logo">
            <i class="fa-regular fa-user"></i>
        </div>
        <div class="el-h">
            <input type="text" [(ngModel)]="user.name" name="name" placeholder="User name" required="required"/>
        </div>
        <div class="el-h">
            <input type="text" [(ngModel)]="user.email" name="email" placeholder="User email" required/>
        </div>
        <div class="el-h">
            <input type="password" [(ngModel)]="user.password" name="password" placeholder="password" required="required"/>
        </div>
        <div class="reg-sign-in">
            <p>
               Already Have Account? <a routerLink="/sign-in">Sign In</a>
            </p>
            <div class="el-h">
                <button type="submit" (click)="Register()">Register</button>
            </div>
        </div>
    </form>
</section>
